// // Lec_5
// .Follower {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 60px;

//   .user-info {
//     display: flex;
//     align-items: center;
//     gap: 20px;
//   }

//   .follow-link {
//     color: var(--accent-color);
//   }
// }

// Lec_7
.Follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .user-info {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }

  .follow-link {
    color: var(--accent-color);
  }
}
